<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.syntrust.dao.ServerInfoDao">
    <resultMap id="BaseResultMap" type="net.syntrust.entity.ServerInfo" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="server_code" property="serverCode" jdbcType="VARCHAR" />
        <result column="machine_room_name" property="machineRoomName" jdbcType="VARCHAR" />
        <result column="memory" property="memory" jdbcType="VARCHAR" />
        <result column="hard_disk" property="hardDisk" jdbcType="VARCHAR" />
        <result column="system" property="system" jdbcType="VARCHAR" />
        <result column="ip_address" property="ipAddress" jdbcType="VARCHAR" />
        <result column="network_band_width" property="netWorkBandWidth" jdbcType="VARCHAR" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="pass_word" property="passWord" jdbcType="VARCHAR" />
        <result column="access_restriction" property="accessRestriction" jdbcType="VARCHAR" />
        <result column="project_info" property="projectInfo" jdbcType="VARCHAR" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="gmt_create" property="gmtCreate" jdbcType="BIGINT" />
        <result column="gmt_modified" property="gmtModified" jdbcType="BIGINT" />
        <result column="is_del" property="isDel" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        id,server_code,machine_room_name,memory,hard_disk,system,ip_address,network_band_width,user_name,pass_word,access_restriction,project_info,remarks,gmt_create,gmt_modified,is_del
    </sql>
    <insert id="insertServer" parameterType="net.syntrust.entity.ServerInfo" >
        insert into server_info
          (id,server_code,machine_room_name,memory,hard_disk,system,ip_address,network_band_width,user_name,pass_word,access_restriction,project_info,remarks,gmt_create,gmt_modified,is_del)
           values
          (#{id},#{serverCode},#{machineRoomName},#{memory},#{hardDisk},#{system},#{ipAddress},#{netWorkBandWidth},#{userName},#{passWord},#{accessRestriction},#{projectInfo},#{remarks},#{gmtCreate},#{gmtModified},#{isDel})
    </insert>

    <select id="queryServerByLimit" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from server_info
        limit #{start},#{count}
    </select>

    <select id="selectServerCount" resultType="Integer" parameterType="java.lang.Integer">
		select count(*) from server_info where is_del = 0
	</select>

    <select id="queryByServerCode" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from server_info
        where server_code = #{serverCode}
    </select>
    <update id="updateServerInfoByCode" parameterType="java.lang.String">
        update server_info
        <set>
            <if test="serverCode != null" >
                server_code = #{serverCode},
            </if>
            <if test="machineRoomName != null" >
                machine_room_name = #{machineRoomName},
            </if>
            <if test="memory != null" >
                memory = #{memory},
            </if>
            <if test="hardDisk != null" >
                hard_disk = #{hardDisk},
            </if>
            <if test="system != null" >
                system = #{system},
            </if>
            <if test="ipAddress != null" >
                ip_address = #{ipAddress},
            </if>
            <if test="netWorkBandWidth != null" >
                network_band_width = #{netWorkBandWidth},
            </if>
            <if test="userName != null" >
                user_name = #{userName},
            </if>
            <if test="passWord != null" >
                pass_word = #{passWord},
            </if>
            <if test="accessRestriction != null" >
                access_restriction = #{accessRestriction},
            </if>

            <if test="projectInfo != null" >
                project_info = #{projectInfo},
            </if>
            <if test="remarks != null" >
                remarks = #{remarks},
            </if>
            <if test="gmtCreate != null" >
                gmt_create = #{gmtCreate},
            </if>
            <if test="gmtModified != null" >
                gmt_modified = #{gmtModified},
            </if>
            <if test="isDel != null" >
                is_del = #{isDel}
            </if>
        </set>
        where server_code = #{serverCode}
    </update>

    <update id="deleteServerInfoByCode" parameterType="java.lang.String">
        update server_info set is_del = 1 where server_code = #{serverCode}
    </update>
</mapper>